@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
:root {
  --primary-color: #050A30;
  --secondary-color: #270082;
  --tertiary-color: #7a0bc0;
  --quaternary-color: #fa58b6;
}

body {
  color: azure;
  background-color: #050A30;
}