@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
:root {
  --primary-color: #1a1a40;
  --secondary-color: #270082;
  --tertiary-color: #7a0bc0;
  --quaternary-color: #fa58b6;
}

body {
  font-family: "Varela Round", sans-serif;
  background: linear-gradient(
    -45deg,
    var(--secondary-color),
    var(--tertiary-color),
    var(--quaternary-color)
  );
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
  overflow-x: hidden;
}

p {
  font-family: "Varela Round", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #fff;
}

h1 {
  font-weight: bold;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

i,
span {
  display: inline-block;
}

.navbar {
  padding: 0 !important;
}

.container-fluid {
  flex-wrap: nowrap !important;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: var(--secondary-color);
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active .sidebar-header h3 {
  display: none;
}

#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active ul.components li a {
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul.components li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#sidebar.active a[aria-expanded="false"]::before,
#sidebar.active a[aria-expanded="true"]::before {
  top: auto;
  bottom: 5px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar.active ul.CTAs > li > a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sidebar.active ul.CTAs > li > a:hover {
  opacity: 70%;
}

#sidebar ul.CTAs li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 5px;
}

#sidebar.active ul.CTAs li a i {
  margin: 0;
  padding: 0;
  font-size: 1.5em !important;
}

#sidebar ul.CTAs li a {
  border-radius: 5px;
}

#sidebar.active ul.CTAs li a span {
  display: none;
}

#sidebar.active ul.CTAs li div button span {
  display: none;
}

#sidebar.active ul.CTAs li.Account {
  text-align: left;
}

#sidebar.active ul.CTAs li.Account div span {
  display: none;
}

#sidebar ul.CTAs li.Account div ul.dropdown-menu {
  font-size: 0.8em;
}

.dropend .dropdown-toggle::after {
  padding-left: 0;
  margin-left: 0;
}

#sidebar.active ul.CTAs li div.input-group {
  display: none;
}

#sidebar ul.CTAs li div.input-group {
  width: 89%;
}

#sidebar ul.CTAs li a.github {
  background: #fff;
  color: #333333;
}

#sidebar .sidebar-header {
  min-height: 70px;
  height: 9vh;
  padding: 10%;
  text-align: center;
  background: var(--primary-color);
}

#sidebar .sidebar-header strong {
  padding: 20%;
  padding-left: 10%;
  display: none;
  font-size: 1.8em;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul.components li:hover {
  background-image: linear-gradient(
    to right,
    var(--tertiary-color),
    var(--secondary-color)
  );
}

#sidebar ul li .home:hover {
  color: #fff;
}

#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: "\e259";
  display: block;
  position: absolute;
  right: 20px;
  font-family: "Glyphicons Halflings";
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  content: "\e260";
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: transparent !important;
  border-color: transparent !important;
}

/* ---------------------------------------------------
    Bootstrap corrections for search bars
----------------------------------------------------- */

.input-group > .input-group-prepend > .input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-text[id="userSearchMethod"] {
  padding-right: 33px;
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group
  > .input-group-prepend:first-child
  > .input-group-text:not(:first-child),
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.bg-light {
  min-height: 70px;
  height: 9vh;
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

#content {
  min-height: 100vh;
  max-width: 100vw;
  width: 100vw;
  transition: all 0.3s;
}

#elements {
  padding: 2%;
}

div.account-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-header > div > input[type="file"] {
  display: none;
}

.account-header > div > label > img:hover {
  transition: all 0.1s;
  padding: 5px;
  border: 2px solid var(--quaternary-color);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

form > fieldset div.section {
  color: white;
  border-radius: 5px;
  padding: 2%;
  margin: 2%;
}

form > fieldset div.section > legend {
  border-bottom: 1px solid white;
}

form > fieldset div.public-info-section {
  border: 1px solid white;
}

form > fieldset div.private-info-section {
  border: 1px solid red;
}

form > fieldset > div.info-section {
  padding: 2%;
}

div.section input, div.section textarea {
  border-top-right-radius: .375rem !important;
  border-bottom-right-radius: .375rem !important;
}

div.section input.changed, div.section textarea.changed {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

div.section div.input-group button  {
  height: 100% !important;
}

div.section div button {
  display: none;
}

legend > a:hover {
  opacity: 70%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }
  a[aria-expanded="false"]::before,
  a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  #sidebar.active {
    margin-left: 0 !important;
  }
  #sidebar .sidebar-header h3 {
    display: none;
  }
  #sidebar ul.CTAs li a span {
    display: none;
  }
  #sidebar ul.CTAs li div.input-group {
    display: none;
  }
  #sidebar .sidebar-header strong {
    display: block;
  }
  #sidebar ul li a span {
    font-size: 0.85em;
  }
  #sidebar ul li a i {
    margin-right: 0;
    display: block;
  }
  #sidebar ul ul a {
    padding: 10px !important;
  }
  #sidebar ul li a i {
    font-size: 1.3em;
  }
  #sidebar {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
