{% extends "layout.html" %} {% block content %}

<form method="POST" action="">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
    <div class="section public-info-section">
      <legend class="border-bottom mb-2">Log In</legend>
      <div class="form-group">
        {{ form.username.label(class="form-control-label") }} {% if
        form.username.errors %} {{ form.username(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.username.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.username(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <div class="form-group">
        {{ form.password.label(class="form-control-label") }} {% if
        form.password.errors %} {{ form.password(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.password(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <div class="login-bottom">
        <div style="display: flex; align-items: center">
          <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
          </div>
          <div class="form-check">
            {{ form.remember(class="form-check-input") }} {{
            form.remember.label(class="form-check-label") }}
          </div>
        </div>
        <div style="display: flex; padding-top: 10px; flex-direction: column">
          <small>
            Need An Account?
            <a class="ml-2 unset" href="{{ url_for('main.register') }}"
              ><span>SIGN UP NOW</span></a
            >
          </small>
          <small>
            Forgot password?
            <a class="ml-2 unset" href="{{ url_for('main.reset_request') }}"
              ><span>RESET PASSWORD</span></a
            >
          </small>
        </div>
      </div>
    </div>
  </fieldset>
</form>
{% endblock %}
